@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --primary-color: #13ba77;
  --letter-color: white;
  --icons-color: grey;
  --fondo-url: url('../img/fondo1.jpeg');
  --hover-color: black;
  --fondo-perfil: url('../img/fondoPerfil.png');
}

* {
  margin: 0;
}

hr {
  border: 1px solid var(--primary-color);
  width: 30px;
  margin: auto;
  margin-bottom: 20px;
}

strong {
  color: var(--primary-color);
}

body {
  font-family: Oswald, sans-serif;
  background-color: var(--hover-color);
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
  outline: thin dotted transparent;

  &:focus {
    color: var(--primary-color);
  }
}

input,
button {
  outline: thin dotted transparent;
}

:focus {
  outline: none;
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.mi-contenedor {
  max-width: 1740px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--letter-color);
}

/* Header */
header {
  color: var(--letter-color);
  background-image: var(--fondo-url);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: contrast(70%);
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 3em;
  }

  img {
    width: 5em;
    height: 5em;
  }
}

.svg-header {
  padding: 2rem;
  color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-top: 1em;
  padding-right: 23%;

  li {
    margin: 0 15px;

    a:hover {
      color: var(--primary-color);
    }

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        position: absolute;
        bottom: 80px;
      }
    }
  }
}

.div-svg {
  position: absolute;
  top: 15%;
  right: 22%;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: right;
  position: absolute;
  top: 40%;
  right: 13%;

  svg {
    padding: 10px;
  }

  a:hover {
    color: var(--hover-color);
    background-color: var(--hover-color);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;

  .form-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 7em;
    margin-bottom: 7em;

    input {
      padding: 10px;
      border: none;
    }

    button {
      background-color: var(--primary-color);
      padding: 15px 30px;
      border: none;
      cursor: pointer;
      border-radius: 7em;
      color: white;

      &:hover {
        background-color: var(--letter-color);
        color: var(--hover-color);
      }
    }
  }

  h1 {
    font-size: 3rem;
    max-width: 400px;
  }

  p {
    font-size: 1.2rem;
    max-width: 700px;
    margin-bottom: 30px;
  }

  svg {
    fill: var(--icons-color);
    transform: translate(60%, 90%);
  }
}



/* Intro Section */
.intro {
  padding: 40px 20px;
  text-align: center;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;

  p {
    margin-bottom: 3em;
    line-height: 1.8em;
  }

  a {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 7em;
    color: var(--letter-color);
    text-decoration: none;
    font-size: small;

    &:hover {
      background-color: var(--letter-color);
      color: var(--hover-color);
    }
  }
}

/* Articles Section */
.articles {
  display: flex;
  justify-content: center;
  padding: 40px 20px;

  article {
    padding: 1em;
    text-align: center;
    width: 20%;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }
}

/* Gallery Section */
.gallery {
  margin: 5em 20em;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 4em;

    li {
      margin: 0 10px;

      a:hover {
        color: var(--primary-color);
      }
    }
  }

  img {
    width: 1100px;
    margin-bottom: 5em;
  }
}

.article1-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-div-1 {
  max-width: 30%;
}

.gallery-div-2 {
  width: 40%;
  text-align: left;

  p {
    margin-bottom: 2em;
  }
}

.article2-gallery {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;

  h3,
  p {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5em;
  }

  p {
    font-size: 1em;
  }
}

.gallery-div-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    display: flex;
    justify-content: right;
    transform: rotate(180deg);
  }
}

/* Machine Section */
.machine {
  display: flex;
  padding: 40px 0;
  flex-direction: row;
  text-align: left;

  img {
    height: 100%;
  }

  article {
    width: 50%;

    &:nth-child(1) {
      background-color: var(--primary-color);
      color: var(--letter-color);

      div:nth-last-child(2) {
        padding: 160px 100px 0 200px;
      }

      div div {
        display: flex;
        align-items: start;

        p {
          margin-top: 10px;
        }
      }
    }

    a {
      background-color: var(--hover-color);
      padding: 10px 30px;
      border-radius: 7em;
      color: var(--letter-color);
      text-decoration: none;
      font-size: small;

      &:hover {
        background-color: var(--letter-color);
        color: var(--hover-color);
      }
    }

    svg:nth-child(2) {
      display: flex;
      justify-content: end;
      padding: 150px 0 0 200px;
      margin-bottom: 30px;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 50px;
    }
  }
}

/* Pricing Section */
.pricing {
  display: flex;
  padding: 100px 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;

  hr {
    margin: 0;
  }

  p {
    margin-bottom: 1em;
    margin-top: 1em;
  }

  article {
    h3 {
      margin-bottom: 10px;
    }

    &:nth-child(1) {
      width: 40%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:nth-child(2) {
      display: flex;
      justify-content: space-around;
      width: 70%;

      div:nth-child(2) {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        a {
          color: var(--primary-color);
          border-color: var(--primary-color);
        }
      }
    }
  }

  a {
    border-color: var(--hover-color);
    background-color: var(--letter-color);
    padding: 10px 30px;
    border-radius: 7em;
    border: var(--hover-color) 1px solid;
    color: var(--hover-color);
    text-decoration: none;

    &:hover {
      background-color: var(--hover-color);
      color: var(--letter-color);
    }
  }

  h2 {
    width: 60%;
    margin-top: 30px;
  }
}

.pricing-div {
  padding: 60px 60px;

  p:nth-child(7) {
    margin-bottom: 2.5em;
  }
}

.price-container {
  color: var(--primary-color);
}

span:nth-child(1) {
  font-size: 16px;
  position: relative;
  bottom: 30px;
  left: 5px;
}

span:nth-child(2) {
  font-size: 60px;
}

span:nth-child(3) {
  font-size: 18px;
}

/* Foto Perfil */
.fotoperfil {
  text-align: center;
  position: relative;

  svg {
    padding: 20px;
  }

  article:nth-child(1) {
    background-color: var(--primary-color);
    padding-bottom: 170px;
    color: var(--letter-color);

    p {
      max-width: 50%;
      display: flex;
      margin: auto;
    }
  }

  img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  article:nth-child(2) {
    background-image: var(--fondo-perfil);
    background-size: cover;
    background-position: center;
    padding: 110px 100px 70px;
  }
}

/* Footer */
footer {
  display: flex;
  text-align: left;
  padding: 100px;
  flex-direction: row;

  div {
    width: 50%;

    &:nth-child(1) {
      margin-top: 30px;
    }

    p:nth-child(odd) {
      margin-bottom: 20px;
    }

    svg {
      padding: 10px;
      margin-top: 20px;
    }
  }
}

/* Responsive Design */
@media (max-width: 1768px) {

  /* Machine Section */
  .machine article {
    margin: auto;

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(1) {
      width: 90%;

      div:nth-last-child(2) {
        padding: 100px 70px 0 70px;
      }
    }
  }
}

@media (max-width: 1200px) {

  /*Gallery Section*/
  .gallery:nth-child(4) {
    margin: 20px;
  }

  .gallery img {
    width: 100%;
    height: 100%;
  }

  /* Machine Section */
  .machine article:nth-child(1) {
    width: 90%;
  }

  /* Pricing Section */
  .pricing {
    a {
      padding: 5px 15px;
    }

    p {
      font-size: 13px;
    }

    span:nth-child(1) {
      font-size: 12px;
      bottom: 20px;
      left: 5px;
    }

    span:nth-child(2) {
      font-size: 40px;
    }

    article:nth-child(1) {
      width: 60%;
    }

    article:nth-child(2) {
      width: 90%;
    }
  }

  /* Footer */
  footer {
    flex-direction: column;
    text-align: center;

    div {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  header {
    h1 {
      font-size: 2rem;
      margin-top: 1.5em;
    }

    .svg-header {
      color: var(--letter-color);
    }

    .nav-links {
      flex-direction: column;
      gap: 15px;
      padding: 0;
      color: transparent;
      display: none;

      li {
        a:hover {
          color: transparent;
        }
      }
    }

    aside {
      display: flex;
      flex-direction: row;
      top: 90%;
      right: 43%;
    }

    .hero {
      p {
        color: var(--color-letra-corregido);
      }

      .form-container {
        flex-direction: column;
        padding: 2em;
        border-radius: 3em;

        svg {
          transform: translate(60%, 60%);
        }
      }
    }
  }

  .articles article {
    width: 100%;
  }

  /* Gallery Section */
  .gallery-div-1 {
    max-width: 100%;
  }

  /* Machine Section */
  .machine article:nth-child(1) div:nth-last-child(2) {
    padding: 70px 70px 0 100px;
  }
}

@media (max-width: 788px) {
  header img {
    width: 3em;
    height: 3em;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero svg {
    transform: translate(60%, 40%);
  }

  .form-container {
    padding: 0.5em;
    border-radius: 2rem;
  }

  /* Intro  articles*/
  .articles {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  /*Gallery Section*/
  .article1-gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery-div-1 {
    max-width: 100%;
  }

  .gallery-div-2 {
    width: 100%;
  }

  /* Machine Section */
  .machine article:nth-child(1) div:nth-last-child(2) {
    padding: 50 50px 0 50px;
  }

  /* Pricing Section */
  .pricing article:nth-child(2) {
    display: block;
    width: 60%;
  }

  .pricing h2 {
    width: 100%;
  }

  /* FotoPerfil Section */
  .fotoperfil article:nth-child(1) p {
    font-size: 15px;
  }

  .fotoperfil img {
    top: 55%;
  }

  /* Footer */
  footer div:nth-child(2) {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 480px) {
  header nav ul li {
    margin: 0 10px;
  }

  .hero {
    padding: 1em;
  }

  /* Intro  articles*/
  .articles article h3 {
    font-size: 1rem;
  }

  .articles article svg {
    width: 3rem;
  }

  /*Machine Section*/
  .machine article:nth-child(1) div:nth-last-child(2) {
    padding: 50px 20px 0 50px;
  }

  /*Pricing Section*/
  .pricing {
    padding: 50px 0px;

    .pricing-div {
      padding: 30px 30px;
    }
  }

  /* FotoPerfil Section */
  .fotoperfil img {
    top: 60%;
  }
}